.logo {
  width: 200px;
  height: 200px;
  max-width: 220px;
  border-radius: 20%;
  margin-top: 10px;
}

.login-main {
  width: 500px;
  height: 700px;
}

.invalid-feedback {
  display: block;
  margin-left: 8px;
}