<div class="" [attr.data-bs-theme]="themeMode">

  <div class="card chat-container border-0" *ngFor="let qa of qaList">
    <!-- Question asked by the user -->
    <div class="bg-body-secondary">
      <div class="container-fluid d-flex my-2" *ngIf="qa.question">
        <i class="fa fa-user me-3 fs-4" [class]="themeMode === light ? ' text-dark' : 'text-light'"></i>
        <p class="card-text">{{qa.question}}</p>
        <!-- <p class="card-text">Can you tell me where to find chat gpt UI</p> -->
      </div>
    </div>

    <!-- Answer given by the open AI-->
    <div class="container-fluid d-flex my-2" *ngIf="qa.question">
      <i class="fa fa-database me-3 fs-4" [class]="themeMode === light ? ' text-dark' : 'text-light'"></i>
      <p class="card-text mb-0" [innerHTML]="qa?.answer | nl2br"></p>
      <p class="card-text text-danger mb-0" [innerHTML]="qa?.error | nl2br"></p>
      <div class="spinner d-flex align-items-center justify-content-center"
        *ngIf="apiLoading && !qa.answer && !qa.error">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div class="bg-body-secondary">
    </div>
  </div>

  <!-- welcome text -->
  <ng-container *ngIf="!this.qaList.length">
    <div class="card chat-container border-0">
      <div class="container-fluid my-2 text-center">
        <div class="welcome">
          Welcome to
        </div>
        <div class="data-talker">
          Data Talkers
        </div>
        <div class="help">
          How Can I help you ?
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Input search -->
  <div class="position-fixed input-custom w-100 py-2 pt-5"
    [class]="themeMode === light ? 'input-light-bg' : 'input-dark-bg'">
    <div class="container-fluid">
      <div class="input-group">
        <input type="textarea" class="form-control" placeholder="Send a message" [(ngModel)]="question"
          (keyup.enter)="question && !apiLoading && sendRequest()">
        <div class="input-group-text" (click)="question && !apiLoading && sendRequest()">
          <ng-container *ngIf="!apiLoading">
            <i class="fa fa-location-arrow fa-sm me-1 custom-font-rotate custom-font-size"
              [class]="themeMode === light ? 'text-dark' : 'text-light'"></i>
          </ng-container>
          <ng-container *ngIf="apiLoading">
            <i class="fa fa-circle-notch fa-spin fa-sm me-1 custom-font-size"
              [class]="themeMode === light ? 'text-dark' : 'text-light'"></i>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
