.container-fluid {
  max-width: 900px;
}

.custom-font-rotate {
  transform: rotate(45deg);
}

.custom-font-size {
  font-size: 20px;
}

.input-custom {
  bottom: 28px;
}

.input-dark-bg {
  background-image: linear-gradient(to top, rgb(43, 48, 53), rgba(43, 48, 53, 0));
}

.input-light-bg {
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
